        @use 'sass:map';
        @use 'sass:list';
        @import 'base/reset.scss';
        @import 'base/typography.scss';
        @import 'utils/variables.scss';
        @import 'utils/function.scss';
        @import 'layout/main.scss';
        /*root */
        
         :root {
            #{$selector_1}: $primary;
            #{$selector_2}: $secondary;
            #{$selector_3}: $main-bg-1;
            #{$selector_4}: $main-bg-2;
            #{$selector_5}: $line;
            #{$selector_6}: $white;
        }
        
        body {
            background-color: $main-bg-1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            font-family: 'Outfit', sans-serif;
        }
        
        .card {
            width: 360px;
            background-color: $main-bg-2;
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 30px 0px 12px hsl(217, 54%, 10%), 0px 20px 0px 50px hsl(217, 54%, 10.6%);
            &__image {
                width: 100%;
                border-radius: 8px;
                position: relative;
            }
            &__text {
                &--title {
                    color: $white;
                    font-size: pixelsToRems(23.4px);
                    font-weight: 600;
                    margin: 20px 0px;
                    width: fit-content;
                    &:hover {
                        color: $secondary;
                        cursor: pointer;
                    }
                }
                &--description {
                    color: $primary;
                    font-size: pixelsToRems(18px);
                    font-weight: 400;
                    line-height: pixelsToRems(27px);
                    margin-bottom: 20px;
                }
                &--footer {
                    position: relative;
                    bottom: 5px;
                    height: 1rem;
                    font-size: 1rem;
                    color: $primary;
                    cursor: pointer;
                }
                &--footer span {
                    color: $white;
                    &:hover {
                        color: $secondary;
                    }
                }
            }
            &__container {
                display: flex;
                justify-content: space-between;
            }
            &__left {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                color: $secondary;
            }
            &__right {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                color: $primary;
            }
            &__footer {
                display: flex;
                justify-content: flex-start;
                bottom: 0px;
                font-size: 1rem;
                color: $primary;
                cursor: pointer;
                // margin-bottom: pixelsToRems(15px);
            }
            &__eth {
                margin-right: pixelsToRems(5px);
            }
            &__countdown {
                margin-left: pixelsToRems(5px);
            }
            &__divider {
                border-bottom: 1px solid $line;
                height: 0.1px;
                margin: 20px 0;
            }
            &__footer {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 90%;
                // height: 4rem;
                // margin-left: 1rem;
            }
            &__profile-image img {
                height: pixelsToRems(28px);
                border: thin solid $white;
                border-radius: 50%;
                margin-right: pixelsToRems(15px);
            }
        }
        
        .attribution {
            position: absolute;
            width: 100%;
            bottom: 3.9rem;
            right: 0rem;
            line-height: 10px;
            text-align: center;
            & p:nth-of-type(2) {
                position: relative;
                text-align: center;
                bottom: -0.7rem;
            }
        }
        /* media queries */
        
        @media only screen and (max-width:380px) {
            .card {
                width: 90%;
            }
        }